[Unit]
Description=Daily timer for PPGCOMDATA backup

[Timer]
OnCalendar=*-*-* 02:30:00
RandomizedDelaySec=30m
Persistent=true

Unit=ppgcomdata-backup.service

[Install]
WantedBy=timers.target

